res/20.png
res/40.png
res/canny3.png
res/circle.mp4
res/corrosion.jpg
res/hand.jpg
res/honkai.jpg
res/img1.png
res/img2.png
res/img3.png
res/lena.jpg
res/rgb.jpg
res/sobel2.png
res/sobel3.png
dataset/fmt.txt
dataset/time.txt
dataset/train.txt
datashow/sin.png
testres/no232.png
testres/no248.png
testres/no249.png
testres/no250.png
testres/no251.png
testres/no252.png
testres/no253.png
testres/no254.png
testres/no255.png
testres/no260.png
testres/no263.png
testres/no264.png
testres/no265.png
testres/no266.png
testres/no267.png
testres/no268.png
testres/no269.png
testres/no270.png
testres/no297.png
testres/no2136.png
testres/no2137.png
testres/no2139.png
testres/no2161.png
testres/no2164.png
testres/no2165.png
testres/no2171.png
